name: Execute Notebook

on:
  workflow_run:
    workflows: ["Build and push container image"]
    branches: [main, postprint]
    types: [completed]

jobs:
  execute:
    uses: eds-book/notebooks-workflows/.github/workflows/execute.yaml@main